body {
  padding: 1em;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #F2F2F2;
  color:#333;
}
#close {
  text-decoration: none;
  color:#333;
  font-size: 18px;
}
#close:hover {
  color:#0D90C6;
}

#sidebar {
  width: 10em;
}
ul.nav-tabs {
  width: 100%;
}

